<a href="https://colab.research.google.com/github/filip6510/PSIProjekt/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import bibliotek potrzebnych w projekcie

In [26]:
import pandas as pd

Przetwarzanie danych.

In [44]:
data = pd.read_csv('time_series_covid19_confirmed_global.csv');
print(data.head());

  Province/State Country/Region       Lat  ...  6/6/21  6/7/21  6/8/21
0            NaN    Afghanistan  33.93911  ...   79224   80841   82326
1            NaN        Albania  41.15330  ...  132379  132384  132397
2            NaN        Algeria  28.03390  ...  130958  131283  131647
3            NaN        Andorra  42.50630  ...   13758   13777   13781
4            NaN         Angola -11.20270  ...   35772   35854   36004

[5 rows x 508 columns]

In [45]:
europe = ["Ukraine",
"France",
"Spain",
"Sweden",
"Germany",
"Finland",
"Norway",
"Poland",
"Italy",
"United Kingdom",
"Romania",
"Belarus",
"Greece",
"Bulgaria",
"Iceland",
"Portugal",
"Czechia",
"Denmark",
"Hungary",
"Serbia",
"Austria",
"Ireland",
"Lithuania",
"Latvia",
"Croatia",
"Bosnia and Herzegovina",
"Slovakia",
"Estonia",
"Netherlands",
"Switzerland",
"Moldova",
"Belgium",
"Albania",
"North Macedonia",
"Slovenia",
"Montenegro",
"Cyprus",
"Luxembourg",
"Andorra",
"Malta",
"Liechtenstein",
"Guernsey",
"San Marino",
"Gibraltar",
"Monaco" 
]

Będziemy sprawdzać tylko państwa w Europie
Prowincje nas nie iteresują wiec usuwamy pierwsza kolumnę, nie mają dla nas też znaczenia współżędne geograficzne więc je też usuwamy

In [46]:
data = data[data['Country/Region'].isin(europe)];
data.drop(data.columns[[0,2,3]], axis=1, inplace=True)
print(data);

     Country/Region  1/22/20  1/23/20  ...   6/6/21   6/7/21   6/8/21
1           Albania        0        0  ...   132379   132384   132397
3           Andorra        0        0  ...    13758    13777    13781
16          Austria        0        0  ...   646800   647079   647322
22          Belarus        0        0  ...   399852   400422   401019
23          Belgium        0        0  ...  1070802  1071271  1072175
..              ...      ...      ...  ...      ...      ...      ...
262  United Kingdom        0        0  ...     1598     1598     1598
263  United Kingdom        0        0  ...       20       20       20
264  United Kingdom        0        0  ...        4        4        4
265  United Kingdom        0        0  ...     2421     2421     2421
266  United Kingdom        0        0  ...  4516892  4522476  4528442

[71 rows x 505 columns]

Sumujemy powtarzające się państwa aby dostać dane dotyczące całego kraju zamiast jego regionów

In [47]:
data = data.groupby(['Country/Region']).sum()
print(data)

                        1/22/20  1/23/20  1/24/20  ...   6/6/21   6/7/21   6/8/21
Country/Region                                     ...
Albania                       0        0        0  ...   132379   132384   132397
Andorra                       0        0        0  ...    13758    13777    13781
Austria                       0        0        0  ...   646800   647079   647322
Belarus                       0        0        0  ...   399852   400422   401019
Belgium                       0        0        0  ...  1070802  1071271  1072175
Bosnia and Herzegovina        0        0        0  ...   204304   204410   204455
Bulgaria                      0        0        0  ...   419473   419681   419859
Croatia                       0        0        0  ...   357565   357608   357786
Cyprus                        0        0        0  ...    72779    72859    72919
Czechia                       0        0        0  ...  1663517  1663607  1663998
Denmark                       0        0        0  ...   287275   287735   288115
Estonia                       0        0        0  ...   130119   130156   130242
Finland                       0        0        0  ...    93226    93281    93394
France                        0        0        2  ...  5774361  5775535  5781556
Germany                       0        0        0  ...  3708898  3710342  3712595
Greece                        0        0        0  ...   409368   410166   411534
Hungary                       0        0        0  ...   806008   806089   806206
Iceland                       0        0        0  ...     6555     6555     6555
Ireland                       0        0        0  ...   264498   264875   265114
Italy                         0        0        0  ...  4232428  4233698  4235592
Latvia                        0        0        0  ...   134812   134888   135144
Liechtenstein                 0        0        0  ...     3022     3022     3022
Lithuania                     0        0        0  ...   276453   276543   276759
Luxembourg                    0        0        0  ...    70182    70256    70291
Malta                         0        0        0  ...    30571    30571    30572
Moldova                       0        0        0  ...   255453   255501   255541
Monaco                        0        0        0  ...     2508     2508     2511
Montenegro                    0        0        0  ...    99812    99834    99848
Netherlands                   0        0        0  ...  1690481  1691866  1693302
North Macedonia               0        0        0  ...   155417   155418   155441
Norway                        0        0        0  ...   126817   127066   127254
Poland                        0        0        0  ...  2875136  2875328  2875729
Portugal                      0        0        0  ...   852646   853034   853632
Romania                       0        0        0  ...  1078863  1078952  1079154
San Marino                    0        0        0  ...     5090     5090     5090
Serbia                        0        0        0  ...   713678   713840   714054
Slovakia                      0        0        0  ...   390436   390451   390546
Slovenia                      0        0        0  ...   255375   255432   255652
Spain                         0        0        0  ...  3697981  3707523  3711027
Sweden                        0        0        0  ...  1078062  1078062  1080733
Switzerland                   0        0        0  ...   697292   698369   698798
Ukraine                       0        0        0  ...  2273708  2274375  2276111
United Kingdom                0        0        0  ...  4532802  4538399  4544372

[43 rows x 504 columns]

Chcemy otrzymać dziene przypadki więc przekształcamy dane

In [61]:
for index, row in data.iterrows():
  for x in range(row.size()):
    print(x);

TypeError: ignored